.mainbox {
    margin: auto;
    height: 100vh;
    width: 100%;
    position: relative;
  }
  
.err {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    text-align: center;
}
  
.far {
    font-size: 8.5rem;
    color: #ffffff;
}

.msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position:absolute;
    left: 16%;
    top: 45%;
    width: 75%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}