body {
  background-color: #95c2de;
}

/* Sign In - Sign Up page */
.register-box {
  display: grid;
  place-items: center;

  min-height: calc(100vh - 220px);
  
  padding: 20px;
}

.register-form-card {
  min-width: 500px;
}

.cursor-none {
  cursor: none !important;
}